name: algolia

on:
  schedule:
  - cron: "5 0 * * *"
  workflow_dispatch:

jobs:
  do:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: denoland/setup-deno@v1
      - name: update deno manual index
        env:
          ALGOLIA_APP_ID: ${{ secrets.ALGOLIA_API_ID }}
          ALGOLIA_API_KEY: ${{ secrets.ALGOLIA_API_KEY }}
          MANUAL_ALGOLIA_APP_ID: ${{ secrets.MANUAL_ALGOLIA_APP_ID }}
          MANUAL_ALGOLIA_API_KEY: ${{ secrets.MANUAL_ALGOLIA_APP_KEY }}
        run: deno task algolia --update-manual
